div
  div(ng-transclude style="display: hidden")
  table.e-table.e-table-overview(data-e-version="2")
    thead
      tr(ng-if="table.showSearch || (table.buttons.length > 0)")
        td.e-table__col.e-table__col-filter(colspan="{{table.columnCount}}")
          .e-table__datatablefilter
            .e-table__button.float-right(ng-repeat="button in table.buttons")
              a.e-btn.e-btn-primary(href="{{ button.href }}") {{ table.evaluate(button.title, this) }}
          .dataTables_filter(ng-if="table.showSearch")
            label
              | {{ 'Search' | translate }} &nbsp;
              input.e-input(type="search" ng-model="table.filter")
      tr
        th.e-table__col(ng-repeat="cell in table.cells" ng-click="table.sortBy(cell.sortField)" ng-class="{ 'e-table__sort': cell.sortField, 'e-table__sort-desc': table.order.field === cell.sortField && table.order.reverseSort, 'e-table__sort-asc': table.order.field === cell.sortField && !table.order.reverseSort }") {{ table.evaluate(cell.title, this) }}
        th
    tbody
      tr(ng-repeat="row in table.rows | filter:table.filter | orderBy: table.order.field:table.order.reverseSort | limitTo: table.pager.limit:(table.pager.page-1)*table.pager.limit")
        td.e-table__col(class="{{cell.class}}" ng-repeat="cell in table.cells" ng-bind-html="table.getCellValue($index, this)")
        td.e-table__col.e-table__col-actions.e-table__col-x-small
          a.e-tooltip(data-e-tooltip="{{ table.evaluate(action.tooltip, this) }}" href="{{ table.getActionLink(action.href, this) }}" ng-click="table.actionClick($event, action.action, this)" ng-repeat="action in table.actions")
            svg.e-icon.e-icon-table
              use(xlink:href="{{ action.icon }}")
    tfoot
      tr
        td(colspan="{{table.columnCount}}")
          .float-left
            | {{ 'Show' | translate }} &nbsp;
            select.e-select.e-select-inline.e-select__select2.e-select-small(ng-model="table.pager.limit" ng-options="option for option in table.pager.options track by option")
            | &nbsp; {{ 'rows' | translate }}
          .float-right
            e-pager(page="table.pager.page" page-size="table.pager.limit" total="table.pager.total")
