.e-steps
  .e-steps__nav.e-steps__nav-prev(ng-click="ctrl.action(ctrl.prev)" ng-class="{'e-steps__nav-disabled': !ctrl.prev}")
    svg.e-icon
      use(xlink:href='#caret-left')
    span {{ 'Previous step' | translate }}
  .e-steps__nav.e-steps__nav-next(ng-click="ctrl.action(ctrl.next)" ng-class="{'e-steps__nav-disabled': !ctrl.next}")
    span {{ 'Next step' | translate }}
    svg.e-icon
      use(xlink:href='#caret-right')
  .e-steps__progress
    .e-steps__item(
      ng-repeat="(step, data) in ctrl.steps"
      ng-bind="data.value | translate"
      ng-class="{'e-steps__item-current': ctrl.step === step + 1, 'e-steps__item-disabled': data.disabled, 'e-steps__item-action': !data.disabled && ctrl.step !== step + 1}"
      ng-click="ctrl.action(step + 1)"
    )
